<div class="footerbox">
    <div class="footerboxname">
        <span [ngClass]="isConnected ? 'connected' : 'disconnected'"></span>
        <span class="footer-user-text">
            <ng-container *ngIf="isConnected; else disconnectedText">
                {{ userEmail }}
                <span class="user-role" *ngIf="userRole">({{ userRole }})</span>
            </ng-container>
            <ng-template #disconnectedText>User disconnected</ng-template>
        </span>
    </div>
   
    <div class="footerboxanno">Created by RedLife - KeyProd 2023</div>
</div>