.footerbox {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: white;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
}

.footerboxname {
    display: flex;
    flex: auto;
    align-items: center;
    gap: 5px;
}

.footerboxanno {
    flex: auto;
    text-align: right;
}

.connected {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: green;
    margin: 2px;
    border: solid 1px black;
}

.disconnected {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: red;
    margin: 2px;
    border: solid 1px black;
}

@media (max-width: 720px) 
{
    .footerbox{
        width: 100%;
        height: 100%;
        display: flex;
        }
        
        .footerboxname
        {
            display: flex;
            flex :auto;
        }
        
        .footeridUser
        {   
            flex :auto;
        
        }
        .footerboxanno
        {   
            flex :auto;
        
            text-align: right;
        }
        
        .connected{
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background-color:green;
            margin:2px;
            border : solid 1px black;
          }
          .disconnected{
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background-color:red;
            margin:2px;
            border:solid 1px black;
          }
}
@media (min-width: 720px) 
{
    .footerbox{
        width: 100%;
        height: 100%;
        display: flex;
        }
        
        .footerboxname
        {
            display: flex;
            flex :auto;
        }
        
        .footeridUser
        {   
            flex :auto;
        
        }
        .footerboxanno
        {   
            flex :auto;
        
            text-align: right;
        }
        
        .connected{
            width: 15px;
            height:15px;
            border-radius: 50%;
            background-color:green;
            margin:2px;
            border : solid 1px black;
          }
          .disconnected{
            width: 15px;
            height:15px;
            border-radius: 50%;
            background-color:red;
            margin:2px;
            border:solid 1px black;
          }
}